// =============================================================================
// COLORS.SASS
// =============================================================================
//$theme-primary: #fed136
//yellow
$theme-primary: #F46C26
//orange
$theme-danger: #e74c3c
//red

$gray-base: #000 !default
$gray-darker: lighten($gray-base, 13.5%) !default
//#222
$gray-dark: lighten($gray-base, 20%) !default
// #333
$gray: lighten($gray-base, 33.5%) !default
//#555
$gray-light: lighten($gray-base, 46.7%) !default
//#777
$gray-lighter: lighten($gray-base, 93.5%) !default
//#eee

//Greytint
$black: #444444
$white: white

$text-shadow : 0px 0px 5px rgba($black, 0.4)

//social colors
$facebook: #3b5998
$instagram: #517fa4
$twitter: #00aced
$youtube: #bb0000
$whatsapp: #43d854
$linkedin: #0077b5


// background colors
.primary
	background-color: $theme-primary
.danger
	background-color: $theme-danger
.gray-darker
	background-color: $gray-darker
.gray-dark
	background-color: $gray-dark
.gray
	background-color: $gray
.gray-light
	background-color: $gray-light
.gray-lighter
	background-color: $gray-lighter
.white
	background-color: $white
.black
	background-color: $black


// text colors
.primary-text, .text-primary
	color: $theme-primary
.danger-text
	color: $theme-danger
.gray-darker-text
	color: $gray-darker
.gray-dark-text
	color: $gray-dark
.gray-text
	color: $gray
.gray-light-text, .text-muted
	color: $gray-light
.gray-lighter-text
	color: $gray-lighter
.white-text
	color: $white
.black-text
	color: $black
