// =============================================================================
// FRONT PAGE
// =============================================================================
.content-header
  background-color: #cee3e3
  border-radius: 8px
  padding: 5%
  box-shadow: 0px 0px 15px #424242
  h1
    color: #5c818b
    font-weight: 700
  ul
      width: 50%
      margin: 0 auto
      li
        width: 30%
        &:nth-child(1)
          img
            width: 100%
        &:nth-child(2)
          p
            font-size: 80px
            font-weight: 500
            color: #5c818b
            position: relative
            top: 20px
        &:nth-child(3)
          img
            width: 60%


footer
  color: #eed28e
  position: absolute
  bottom: 10px
  width: 100%
  left: 0

// =============================================================================
// Sub page 1
// =============================================================================

// =============================================================================
// Sub page 2
// =============================================================================



//small devices => 480px
+bp-xs

//medium devices => 768px
+bp-sm

//large devices => 992px
+bp-md

//extra large devices => 1200px
+bp-lg
