$brand-primary: orange
$brand-danger: #e74c3c
$gray-darkest: #222
$gray: #777
$gray-lighter: #f7f7f7
$placeholder-text: #bbbbbb


.bg-light-gray
	background-color: $gray-lighter


.bg-darkest-gray
	background-color: $gray-darkest
