//FONTS//
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700'
@import 'https://fonts.googleapis.com/css?family=Kaushan+Script'
@import 'https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i'
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700'

.serif-font
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif

.script-font
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive

.body-font
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif

.heading-font
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif
  text-transform: uppercase

.text-muted
  color: $gray


.text-primary
  color: $brand-primary


p
  font-size: 14px
  line-height: 1.75


p.large
  font-size: 16px


a,
a:hover,
a:focus,
a:active,
a.active
  outline: none


a
  color: $brand-primary


a:hover,
a:focus,
a:active,
a.active
  color: darken($brand-primary, 10%)


h1, h2, h3, h4, h5, h6
  @extend .heading-font
  font-weight: 700



// Restyled Primary Buttons

  .button-variant($color; $background; $border)
    color: $color
    background-color: $background
    border-color: $border
    &:hover,
    &:focus,
    &:active,
    &.active,
    .open .dropdown-toggle&
      color: $color
      background-color: darken($background, 10%)
      border-color: darken($border, 12%)
      &:active,
      &.active,
      .open .dropdown-toggle&
        background-image: none
        &.disabled,
        &[disabled],
        fieldset[disabled] &
          &,
          &:hover,
          &:focus,
          &:active,
          &.active
            background-color: $background
            border-color: $border
    .badge
      color: $background
      background-color: $color


.btn-primary
  @inlude .button-variant(white; $brand-primary; $brand-primary)
  @extend .heading-font
  font-weight: 700


.btn-xl
  @inlude .button-variant(white; $brand-primary; $brand-primary)
  @extend .heading-font
  font-weight: 700
  border-radius: 3px
  font-size: 18px
  padding: 20px 40px




// Background Features

.background-cover
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
