//BORDER-RADIUS  Usage - @include border-radius(10px)
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//BOX-SHADOW   Usage - @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999)
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}


//TRANSITIONS  Usage - @include transition(color .3s ease delay)
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//TEXT SHADOW  Usage - @include text-shadow(3px, 3px, 3px, #333)
@mixin text-shadow( $top, $left, $blur, $colour) {
  -webkit-text-shadow:$top $left $blur $colour;
  -moz-text-shadow:$top $left $blur $colour;
  -o-text-shadow:$top $left $blur $colour;
  text-shadow:$top $left $blur $colour;
}

//LINEAR-GRADIENT  Usage - background-image: linear-gradient(red, blue);/ @include linear-gradient(red, blue)
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

//CLEAR-FIX   Usage - @extend %clearfix;
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

//TRANSFORM, ANIMATIONS

//ROTATE   Usage  - @include rotate(45deg)
@mixin rotate($val) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

//TRANSFORM-ORIGIN    Usage - @include transform-origin(x-axis y-axis z-axis)
@mixin transform-origin($val) {
  -webkit-transform-origin: $val;
  -moz-transform-origin: $val;
  -ms-transform-origin: $val;
  transform-origin: $val;
}

//TRANSFORM-STYLE    Usage  -  @include transform-style(flat|preserve-3d|initial|inherit)
@mixin transform-style($val) {
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  -ms-transform-style: $val;
  transform-style: $val;
}

//PERSPECTIVE  Usage  -  @include perspective(500px)
@mixin perspective($val) {
  -webkit-perspective: $val;
  -moz-perspective: $val;
  -ms-perspective: $val;
  perspective: $val;
}

//PERSPECTIVE-ORIGIN   Usage  -   @include perspective-origin(10% 10%)
@mixin perspective-origin($val){
  -webkit-perspective-origin: $val;
  -moz-perspective-origin: $val;
  -ms-perspective-origin: $val;
  perspective-origin: $val;
}
