footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    line-height: 40px;
    text-transform: none; }
  footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    text-transform: none; }
